*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
.fond{
    background-image: url(../img/entregable.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.fdc{
    background-image: url(../img/fdc.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: 'Bubblegum';
    src: url(../Bubblegum.ttf);
}
.parrafo-bienvenida {
    font-size: 2rem;
    height: 26vh;
    width: 40%;
    background-color: #ffffff69;
    font-family: 'finalf';
}
.titulo-bienvenida{
    color: #fff;
    font-family: 'Bubblegum';
    font-size: 5rem;
    text-align: center;
}
.titulos{
    font-family: 'Bubblegum';
    color: #E3AF6F;
}
.btn-info{
    --bs-btn-bg:#E3AF6F !important;
    --bs-btn-border-color: #E3AF6F !important;
}
.boton-comic{
    height: 2rem;
    width: 20%;
}
.boton-a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.video{
    width: 100%;
}
.barra{
    background-color: #EEE9DA ;
}
.tnd{
    --bs-btn-hover-bg:#E3AF6F !important;
    --bs-btn-active-bg:#E3AF6F !important;
}
.logo{
    width: 12rem;
}
.texto{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.parrafo-comic{
    text-align: center;
    font-family: 'finalf';
}
.parrafo{
    text-align: center;
    font-family: 'finalf';
}
.fc{
    background-image: url(../img/fdc.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
}
@font-face {
    font-family: 'finalf';
    src: url(../finalf.ttf);
}
.bg{
    background-color:#bdcdd669;
}
.boton{
    background-color: #E3AF6F;
}